/* ===========================
   BOTONES
=========================== */

/* Botón principal */
.btn-nuevo,
.btn-guardar {

    display: inline-block;

    background-color: #198754;
    color: white;

    padding: 10px 18px;

    border: none;
    border-radius: 4px;

    font-size: 14px;
    font-weight: bold;

    cursor: pointer;

    transition: background-color 0.3s;

}

.btn-nuevo:hover,
.btn-guardar:hover {

    background-color: #157347;

}


/* Botón editar */

.btn-editar {

    background-color: #f4b400;
    color: white;

    padding: 8px 14px;

    border: none;
    border-radius: 4px;

    cursor: pointer;

    margin-right: 8px;

}

.btn-editar:hover {

    background-color: #d99b00;

}


/* Botón eliminar */

.btn-eliminar {

    background-color: #d93025;
    color: white;

    padding: 8px 14px;

    border: none;
    border-radius: 4px;

    cursor: pointer;

}

.btn-eliminar:hover {

    background-color: #b3261e;

}

/* ===========================
   BOTÓN CANCELAR
=========================== */

.btn-cancelar {

    background-color: #6c757d;
    color: white;

    padding: 8px 14px;

    border: none;
    border-radius: 4px;

    cursor: pointer;

    min-width: 100px;

}

.btn-cancelar:hover {

    background-color: #5a6268;

}