/* ===========================
   TABLAS
=========================== */

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    margin-top: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #1f3c88;
    color: white;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}

tbody tr:hover {
    background-color: #eaf2ff;
}

th {
    font-weight: bold;
}

/* ===========================
   BADGE CATEGORÍA
=========================== */

.badge-categoria {

    display: inline-block;

    background-color: #e8f0fe;
    color: #1f3c88;

    padding: 6px 12px;

    border-radius: 20px;

    font-size: 13px;
    font-weight: bold;

    text-transform: capitalize;

}